<section class="coach section-offset" id="coach">
  <div class="container">
    <h2 class="section-title coach__title">Профессиональные тренеры</h2>
  </div>
  <div class="coach__wrapper">
    <div class="swiper coach__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <di v class="coach__item">
            <picture>
              <source srcset="img/coach-1.webp" type="image/webp">
              <img loading="lazy" src="img/coach-1.jpg" class="coach__image" width="360" height="500" alt="Ирина Лайм">
            </picture>
            <div class="coach__name">Ирина Лайм</div>
            <div class="coach__descr">преподаватель по робототехнике</div>
            <button class="btn-reset coach__btn" data-graph-path="coach-1">Подробнее</button>
          </di>
        </div>
        <div class="swiper-slide">
          <div class="coach__item">
            <picture>
              <source srcset="img/coach-2.webp" type="image/webp">
              <img loading="lazy" src="img/coach-2.jpg" class="coach__image" width="360" height="500" alt="Марина Орлова">
            </picture>
            <div class="coach__name">Марина Орлова</div>
            <div class="coach__descr">преподаватель по робототехнике</div>
            <button class="btn-reset coach__btn" data-graph-path="coach-2">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="coach__item">
            <picture>
              <source srcset="img/coach-3.webp" type="image/webp">
              <img loading="lazy" src="img/coach-3.jpg" class="coach__image" width="360" height="500" alt="Максим Петров">
            </picture>
            <div class="coach__name">Максим Петров</div>
            <div class="coach__descr">преподаватель по программированию</div>
            <button class="btn-reset coach__btn" data-graph-path="coach-3">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="coach__item">
            <picture>
              <source srcset="img/coach-4.webp" type="image/webp">
              <img loading="lazy" src="img/coach-4.jpg" class="coach__image" width="360" height="500" alt="Константин Назаров">
            </picture>
            <div class="coach__name">Константин Назаров</div>
            <div class="coach__descr">преподаватель по робототехнике</div>
            <button class="btn-reset coach__btn" data-graph-path="coach-4">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="coach__item">
            <picture>
              <source srcset="img/coach-5.webp" type="image/webp">
              <img loading="lazy" src="img/coach-5.jpg" class="coach__image" width="360" height="500" alt="Лиза Весенняя">
            </picture>
            <div class="coach__name">Лиза Весенняя</div>
            <div class="coach__descr">преподаватель по программированию</div>
            <button class="btn-reset coach__btn" data-graph-path="coach-5">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="coach__nav">
      <div class="swiper-scrollbar coach__scroll"></div>
      <div class="coach__btns">
        <button class="btn-reset coach__slider-btn coach__slider-btn--prev" aria-label="Перейти к предыдущему слайду"></button>
        <button class="btn-reset coach__slider-btn coach__slider-btn--next" aria-label="Перейти к следующему слайду"></button>
      </div>
    </div>
  </div>
</section>
