// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Ubuntu", sans-serif;
  --font-weight: 400;
  --content-width: 1230px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --color-gray: #424551;
  --color-storm: #787a80;
  --color-ebony: #1e212c;
  --color-primary: #ff5a30;
  --color-athens: #f4f5f7;
  --color-mana: #9a9ca5;;

  //sizes
  --grid-gap: 30px;

  //stylization
  --main-shadow:
    0 80px 80px -20px rgba(154, 156, 165, 0.08),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 4px 4px -4px rgba(30, 33, 44, 0.03);
}
