<section class="partners partners--about">
  <div class="container">
    <h2 class="title title--center">Our partners</h2>
    <p class="descr descr--center">
      We are supported by 12+ industry bodies and media partners
    </p>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partner-1.png" alt="InDepth Consulting" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partner-2.png" alt="Higher Fit" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partner-3.png" alt="Sentinal Consulting" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partner-4.png" alt="Happy Home" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partner-5.png" alt="For Sale" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partner-6.png" alt="Sunset Realty" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partner-1.png" alt="InDepth Consulting" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partner-2.png" alt="Higher Fit" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partner-3.png" alt="Sentinal Consulting" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partner-4.png" alt="Happy Home" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partner-5.png" alt="For Sale" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="img/partners/partner-6.png" alt="Sunset Realty" class="partners__logo">
        </a>
      </li>
    </ul>
  </div>
</section>
