<section class="about-team">
  <div class="container">
    <h2 class="title title--center">Our team</h2>
    <p class="descr descr--center">
      People are at the heart of Createx Construction Bureau
    </p>
    <ul class="about-team__list list-reset grid">
      <li class="about-team__item">
        <div class="about-team__inner">
          <img src="img/about/team-1.jpg" alt="team-1" class="about-team__image">
          <div class="about-team__social">
            <a href="#" target="_blank" class="about-team__svg" aria-label="Linked-in">
              <svg class="">
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="about-team__name">Courtney Alexander</div>
        <div class="about-team__position">CEO, Co-Founder</div>
      </li>
      <li class="about-team__item">
        <div class="about-team__inner">
          <img src="img/about/team-2.jpg" alt="team-2" class="about-team__image">
          <div class="about-team__social">
            <a href="#" target="_blank" class="about-team__svg" aria-label="Linked-in">
              <svg class="">
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="about-team__name">Calvin Fox</div>
        <div class="about-team__position">CTO, Co-Founder</div>
      </li>
      <li class="about-team__item">
        <div class="about-team__inner">
          <img src="img/about/team-3.jpg" alt="team-3" class="about-team__image">
          <div class="about-team__social">
            <a href="#" target="_blank" class="about-team__svg" aria-label="Linked-in">
              <svg class="">
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="about-team__name">Johnny Lane</div>
        <div class="about-team__position">Commercial Manager</div>
      </li>
      <li class="about-team__item">
        <div class="about-team__inner">
          <img src="img/about/team-4.jpg" alt="team-4" class="about-team__image">
          <div class="about-team__social">
            <a href="#" target="_blank" class="about-team__svg" aria-label="Linked-in">
              <svg class="">
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="about-team__name">Diane Mccoy</div>
        <div class="about-team__position">Director of Human Resources</div>
      </li>
      <li class="about-team__item">
        <div class="about-team__inner">
          <img src="img/about/team-5.jpg" alt="team-5" class="about-team__image">
          <div class="about-team__social">
            <a href="#" target="_blank" class="about-team__svg" aria-label="Linked-in">
              <svg class="">
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="about-team__name">Judith Warren</div>
        <div class="about-team__position">Lead Accountant</div>
      </li>
      <li class="about-team__item">
        <div class="about-team__inner">
          <img src="img/about/team-6.jpg" alt="team-6" class="about-team__image">
          <div class="about-team__social">
            <a href="#" target="_blank" class="about-team__svg" aria-label="Linked-in">
              <svg class="">
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="about-team__name">Floyd Simmmons</div>
        <div class="about-team__position">Finacial Director</div>
      </li>
      <li class="about-team__item">
        <div class="about-team__inner">
          <img src="img/about/team-7.jpg" alt="team-7" class="about-team__image">
          <div class="about-team__social">
            <a href="#" target="_blank" class="about-team__svg" aria-label="Linked-in">
              <svg class="">
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="about-team__name">Serenity Edwards</div>
        <div class="about-team__position">Director of Marketing</div>
      </li>
      <li class="about-team__item">
        <div class="about-team__inner">
          <img src="img/about/team-8.jpg" alt="team-8" class="about-team__image">
          <div class="about-team__social">
            <a href="#" target="_blank" class="about-team__svg" aria-label="Linked-in">
              <svg class="">
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Twitter">
              <svg class="">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="about-team__svg" aria-label="Facebook">
              <svg class="">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="about-team__name">Shawn Edwards</div>
        <div class="about-team__position">Tech Lead</div>
      </li>
    </ul>
    <p class="about-team__descr descr descr--center">
      Become a part of the best team in the construction market of the USA.
      <a href="#" target="_blank" class="about-team__link">Available Positions</a>
    </p>
  </div>
</section>
