<section class="about-history">
  <div class="container">
        <div class="about-history__top">
          <h2 class="title about-history__title">
            Our history
          </h2>
          <div class="slider-nav">
            <button class="btn-reset slider-nav__btn about-history__prev slider-btn">
              <svg>
                <use xlink:href="img/sprite.svg#prev"></use>
              </svg>
            </button>
            <button class="btn-reset slider-nav__btn about-history__next slider-btn">
              <svg>
                <use xlink:href="img/sprite.svg#next"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="about-history__content grid">
          <ul class="list-reset history-nav">
            <li class="history-nav__item">
              <button class="history-nav__btn history-nav__btn--active btn-reset">Present</button>
            </li>
            <li class="history-nav__item">
              <button class="history-nav__btn btn-reset">March 2019</button>
            </li>
            <li class="history-nav__item">
              <button class="history-nav__btn btn-reset">November 2018</button>
            </li>
            <li class="history-nav__item">
              <button class="history-nav__btn btn-reset">July 2015</button>
            </li>
            <li class="history-nav__item">
              <button class="history-nav__btn btn-reset">August 2010</button>
            </li>
            <li class="history-nav__item">
              <button class="history-nav__btn btn-reset">February 2007</button>
            </li>
            <li class="history-nav__item">
              <button class="history-nav__btn btn-reset">May 2004</button>
            </li>
            <li class="history-nav__item">
              <button class="history-nav__btn btn-reset">October 2001</button>
            </li>
            <li class="history-nav__item">
              <button class="history-nav__btn btn-reset">June 2000</button>
            </li>
          </ul>
          <div class="about-history__item history-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="img/about/about-history.jpg" alt="History image" class="about-history__image">
                <p class="about-history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas
                  integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae,
                </p>
              </div>
              <div class="swiper-slide">
                <img src="img/about/about-history.jpg" alt="History image" class="about-history__image">
                <p class="about-history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas
                  integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae,
                </p>
              </div>
              <div class="swiper-slide">
                <img src="img/about/about-history.jpg" alt="History image" class="about-history__image">
                <p class="about-history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas
                  integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae,
                </p>
              </div>
              <div class="swiper-slide">
                <img src="img/about/about-history.jpg" alt="History image" class="about-history__image">
                <p class="about-history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas
                  integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae,
                </p>
              </div>
              <div class="swiper-slide">
                <img src="img/about/about-history.jpg" alt="History image" class="about-history__image">
                <p class="about-history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas
                  integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae,
                </p>
              </div>
              <div class="swiper-slide">
                <img src="img/about/about-history.jpg" alt="History image" class="about-history__image">
                <p class="about-history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas
                  integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae,
                </p>
              </div>
              <div class="swiper-slide">
                <img src="img/about/about-history.jpg" alt="History image" class="about-history__image">
                <p class="about-history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas
                  integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae,
                </p>
              </div>
              <div class="swiper-slide">
                <img src="img/about/about-history.jpg" alt="History image" class="about-history__image">
                <p class="about-history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas
                  integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae,
                </p>
              </div>
              <div class="swiper-slide">
                <img src="img/about/about-history.jpg" alt="History image" class="about-history__image">
                <p class="about-history__descr">
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas
                  integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec vitae,
                </p>
              </div>
            </div>
          </div>
        </div>
  </div>
</section>
