<section class="about-achieve section-offset">
  <h2 class="visually-hidden">Our Achievements</h2>
  <div class="container">
    <ul class="about-achieve__list list-reset grid">
      <li class="about-achieve__item">
        <svg class="about-achieve__icon">
          <use xlink:href="img/sprite.svg#quality"></use>
        </svg>
        <div class="about-achieve__value">60%</div>
        <p class="about-achieve__text">Clients on the recommendation of friends</p>
      </li>
      <li class="about-achieve__item">
        <svg class="about-achieve__icon">
          <use xlink:href="img/sprite.svg#services-4"></use>
        </svg>
        <div class="about-achieve__value">2400+</div>
        <p class="about-achieve__text">Apartments renovated</p>
      </li>
      <li class="about-achieve__item">
        <svg class="about-achieve__icon">
          <use xlink:href="img/sprite.svg#benefits-2"></use>
        </svg>
        <div class="about-achieve__value">670</div>
        <p class="about-achieve__text">Qualified specialists</p>
      </li>
      <li class="about-achieve__item">
        <svg class="about-achieve__icon">
          <use xlink:href="img/sprite.svg#services-3"></use>
        </svg>
        <div class="about-achieve__value">150000+ m<sup>2</sup></div>
        <p class="about-achieve__text">Finishing work was carried out</p>
      </li>
    </ul>
    <div class="about-achieve__content">
      <img class="about-achieve__image" src="img/about/about-ceo.jpg" alt="" aria-hidden="true">
      <div class="about-achieve__info">
        <blockquote class="about-achieve__quote quote">
          <div class="quote__content">
            <p>
              Dapibus nec vitae ante mattis. Aliquam phasellus ac dui augue in. Sed aliquet in egestas hac at proin sed quam. Etiam
              aliquet sagittis non, massa cum pulvinar. Et in leo, tempus purus vestibulum ut blandit et mi. Odio massa purus vel
              praesent arcu enim elit felis viverra.
            </p>
            <p>
              Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra quis metus amet eleifend amet. Vet suspendisse
              faucibus
              tempor ipsum integer.
            </p>
          </div>
          <footer class="quote__footer">
            <span class="quote__author">Courtney Alexander</span>
            CEO - Createx Construction Bureau
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
