<section class="services-hero hero-secondary hero-secondary--about">
  <div class="container">
    <ul class="list-reset breadcrumbs hero-secondary__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">About Us</a>
      </li>
    </ul>
    <h1 class="hero-secondary__title">About Us</h1>
    <p class="hero-secondary__descr">
      Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to
      offer you quality construction and exemplary service.
    </p>
  </div>
</section>
