<div class="akkordeon akkordeon-1 offer__akkordeon">
  <button class="akkordeon__control btn-reset" aria-expanded="false">
    <span class="akkordeon__title">Interior design of apartments</span>
    <span class="akkordeon__icon"></span>
  </button>
  <div class="akkordeon__content" aria-hidden="true">
    <p>
      Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient
      diam magna ullamcorper morbi semper massa ac facilisis.
    </p>
  </div>
</div>
<div class="akkordeon akkordeon-2 offer__akkordeon">
  <button class="akkordeon__control btn-reset" aria-expanded="false">
    <span class="akkordeon__title">Interior design of private houses</span>
    <span class="akkordeon__icon"></span>
  </button>
  <div class="akkordeon__content" aria-hidden="true">
    <p>
      Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient
      diam magna ullamcorper morbi semper massa ac facilisis.
    </p>
  </div>
</div>

