<section class="news">
  <div class="container">
    <h2 class="title title--center news__title">Categories</h2>
    <ul class="news-nav list-reset">
      <li class="news-nav__item">
        <button class="btn btn-reset btn--stroke-light news-nav__btn news-nav__btn--active">All news</button>
      </li>
      <li class="news-nav__item">
        <button class="btn btn-reset btn--stroke-light news-nav__btn">Company News</button>
      </li>
      <li class="news-nav__item">
        <button class="btn btn-reset btn--stroke-light news-nav__btn">Innovation</button>
      </li>
      <li class="news-nav__item">
        <button class="btn btn-reset btn--stroke-light news-nav__btn">Industry News</button>
      </li>
      <li class="news-nav__item">
        <button class="btn btn-reset btn--stroke-light news-nav__btn">Expert Tips</button>
      </li>
      <li class="news-nav__item">
        <button class="btn btn-reset btn--stroke-light news-nav__btn">Marketing</button>
      </li>
    </ul>
    <ul class="list-reset news__list grid">
      <li class="news__item">
        <article class="news-article">
          <img src="img/news-section/article-1.jpg" alt="Article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry news-section</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="article-meta__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
              nulla.
              Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-article">
          <img src="img/news-section/article-2-big.jpg" alt="Article 2" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry news-section</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="article-meta__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
              nulla.
              Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-article">
          <img src="img/news-section/article-4.jpg" alt="Article 4" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry news-section</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="article-meta__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
              nulla.
              Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-article">
          <img src="img/news-section/article-5.jpg" alt="Article 5" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry news-section</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="article-meta__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
              nulla.
              Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-article">
          <img src="img/news-section/article-6.jpg" alt="Article 6" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry news-section</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="article-meta__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
              nulla.
              Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-article">
          <img src="img/news-section/article-3-big.jpg" alt="Article 3" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry news-section</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="article-meta__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
              nulla.
              Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <ul class="news-pagination list-reset">
      <li class="news-pagination__item">
        <a href="#" class="news-pagination__link news-pagination__link--active">
          1
        </a>
      </li>
      <li class="news-pagination__item">
        <a href="#" class="news-pagination__link">
          2
        </a>
      </li>
      <li class="news-pagination__item">
        <a href="#" class="news-pagination__link">
          3
        </a>
      </li>
      <li class="news-pagination__item">
        <a href="#" class="news-pagination__link">
          4
        </a>
      </li>
      <li class="news-pagination__item">
        <a href="#" class="news-pagination__link" aria-label="next page">
          <svg>
            <use xlink:href="img/sprite.svg#news-arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
