<section class="services-hero hero-secondary hero-secondary--news">
  <div class="container">
    <ul class="list-reset breadcrumbs hero-secondary__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">News</a>
      </li>
    </ul>
    <h1 class="hero-secondary__title">News</h1>
    <p class="hero-secondary__descr">
      Stay tuned with our news, expert tips and articles.
    </p>
  </div>
</section>
