<section class="services-hero hero-secondary hero-secondary--portfolio-inner">
  <div class="container">
    <ul class="list-reset breadcrumbs hero-secondary__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Work</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Modern Cottage</a>
      </li>
    </ul>
    <h1 class="hero-secondary__title">Modern Cottage</h1>
    <div  class="portfolio-inner">
      <div  class="portfolio-inner-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/portfolio-inner/portfolio-inner-slider-1.jpg" alt="Portfolio-inner-slide-1">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio-inner/portfolio-inner-slider-1.jpg" alt="Portfolio-inner-slide-1">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio-inner/portfolio-inner-slider-1.jpg" alt="Portfolio-inner-slide-1">
          </div>
        </div>
      </div>
      <div thumbsSlider="" class="portfolio-inner-slider-nav">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/portfolio-inner/portfolio-inner-slider-nav-1.jpg" alt="Portfolio-inner-slide-1">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio-inner/portfolio-inner-slider-nav-1.jpg" alt="Portfolio-inner-slide-1">
          </div>
          <div class="swiper-slide">
            <img src="img/portfolio-inner/portfolio-inner-slider-nav-1.jpg" alt="Portfolio-inner-slide-1">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
