<section class="services-hero hero-secondary hero-secondary--positions">
  <div class="container">
    <ul class="list-reset breadcrumbs hero-secondary__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">About Us</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Available Positions</a>
      </li>
    </ul>
    <h1 class="hero-secondary__title">AVAILABLE POSITIONS</h1>
    <p class="hero-secondary__descr">
      Build your career with Createx Construction Bureau.
    </p>
  </div>
</section>
