<section class="positions-benefits">
  <div class="container">
    <h2 class="positions-benefits__title title title--center">
      Employee benefits
    </h2>
    <p class="descr descr--center">
      There’s always room for talent.
    </p>
    <ul class="list-reset positions-benefits__list grid">
      <li class="positions-benefits__item positions-benefits__item--terms">
        <h3 class="positions-benefits__subtitle">Training</h3>
        <p class="positions-benefits__descr">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
        </p>
      </li>
      <li class="positions-benefits__item positions-benefits__item--workers">
        <h3 class="positions-benefits__subtitle">Professional Growth</h3>
        <p class="positions-benefits__descr">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
        </p>
      </li>
      <li class="positions-benefits__item positions-benefits__item--control">
        <h3 class="positions-benefits__subtitle">Growing Salary</h3>
        <p class="positions-benefits__descr">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
        </p>
      </li>
    </ul>
  </div>
</section>
