<section class="services-hero hero-secondary hero-secondary--post">
  <div class="container">
    <ul class="list-reset breadcrumbs hero-secondary__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href='#' class="breadcrumbs__link">News</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">
          How to Build Climate Change-Resilient Infrastructure
        </a>
      </li>
    </ul>
    <h1 class="hero-secondary__title">
      How to Build Climate Change-Resilient Infrastructure
    </h1>
    <div class="hero-secondary__meta-social">
      <div class="hero-secondary__meta article-meta">
        <a href="#" class="article-meta__item">Industry News</a>
        <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
        <span class="article-meta__item article-meta__item--comments">4 comments</span>
      </div>
      <ul class="social hero-secondary__social list-reset">
        <li class="social__item">
          <a href="#" target="blank" class="social__link" aria-label="Facebook">
            <svg class="">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="blank" class="social__link" aria-label="Linked-in">
            <svg class="">
              <use xlink:href="img/sprite.svg#linked"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="blank" class="social__link" aria-label="Twitter">
            <svg class="">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
