<section class="services-portfolio">
  <div class="container">
    <div class="services-portfolio__top">
      <h2 class="title services-portfolio__title">
        Related projects
      </h2>
      <div class="slider-nav">
        <button class="btn-reset slider-nav__btn services-portfolio__prev slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#prev"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn services-portfolio__next slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#next"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper services-portfolio__items swiper-no-swiping">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/portfolio/portfolio-8.jpg" alt="services-portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
              <span class="portfolio-item__descr">Private houses</span>
              <div class="btn-reset portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img//portfolio/portfolio-9.jpg" alt="services-portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Kids Bedroom With Decorations</h3>
              <span class="portfolio-item__descr">Apartments & flats</span>
              <div class="btn-reset portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img//portfolio/portfolio-8.jpg" alt="services-portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
              <span class="portfolio-item__descr">Private houses</span>
              <div class="btn-reset portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img//portfolio/portfolio-9.jpg" alt="services-portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Kids Bedroom With Decorations</h3>
              <span class="portfolio-item__descr">Apartments & flats</span>
              <div class="btn-reset portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img//portfolio/portfolio-8.jpg" alt="services-portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
              <span class="portfolio-item__descr">Private houses</span>
              <div class="btn-reset portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img//portfolio/portfolio-9.jpg" alt="services-portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Kids Bedroom With Decorations</h3>
              <span class="portfolio-item__descr">Apartments & flats</span>
              <div class="btn-reset portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="services-portfolio__learn learn-more">
      <h4 class="learn-more__subtitle">Explore all our works</h4>
      <a href="#" class="btn-reset learn-more__btn btn btn--fill">View portfolio</a>
    </div>
  </div>
</section>
