<section class="how">
  <div class="container">
    <h2 class="title how__title">That’s how we do it</h2>
    <ul class="list-reset how__list grid">
      <li class="how__item">
        <div class="how__number">
          01
          <span class="how__number--1"></span>
          <span class="how__number--2"></span>
        </div>
        <div class="how__subtitle">Work Estimate</div>
        <div class="how__descr">Culpa nostrud commodo ea consequat aliquip reprehenderit.</div>
      </li>
      <li class="how__item">
        <div class="how__number">
          02
          <span class="how__number--1"></span>
          <span class="how__number--2"></span>
        </div>
        <div class="how__subtitle">Contract</div>
        <div class="how__descr">Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor et tempor.</div>
      </li>
      <li class="how__item">
        <div class="how__number">
          03
          <span class="how__number--1"></span>
          <span class="how__number--2"></span>
        </div>
        <div class="how__subtitle">Mobilization</div>
        <div class="how__descr">Odio massa scelerisque purus arcu sed velit eleifend cursus leo. </div>
      </li>
      <li class="how__item">
        <div class="how__number">
          04
          <span class="how__number--1"></span>
          <span class="how__number--2"></span>
        </div>
        <div class="how__subtitle">Construction Work</div>
        <div class="how__descr">Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.</div>
      </li>
    </ul>
  </div>
</section>
