.about-history {
  padding: 84px 0 99px;
  background-color: var(--color-athens);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__content {
    padding: 37px 0 0 0;
  }

  &__item {
    grid-column: 8 span;
    overflow: hidden;
  }

  &__image {
    margin: 0 0 34px 0;
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
  }
}

.history-nav {
  position: relative;
  grid-column: 4 span;

  &::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(#9a9ca5, .5);
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
  }

  &__btn {
    position: relative;
    padding: 0 0 0 40px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-mana);
    transform: color .3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 3px;
      top: 13px;
      width: 1px;
      height: 16px;
      background-color: var(--color-athens);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 17px;
      border-radius: 100%;
      width: 8px;
      height: 8px;
      background-color: currentColor;
    }

    &--active {
      color: var(--color-primary);
    }
  }
}
