.comment {
  display: flex;

  &__left {
    width: calc(100% - 630px);
    padding: 0 30px 0 0;
  }

  &__right {
    width: 630px;
  }

  &__author {
    display: block;
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__time {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
  }

  &__body {
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);

    a {
      font-weight: 700;
      color: var(--color-primary);
    }

    * {
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__reply {
    display: inline-flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);

    svg {
      display: block;
      margin: 0 8px 0 0;
      width: 16px;
      height: 16px;
      fill: currentColor;
      object-fit: cover;
    }
  }
}
