.form-field {
  @include flex-column-start;

  &__caption {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
  }

  &__input {
    border: 1px solid #d7dadd;
    border-radius: 4px;
    padding-left: 15px;
    width: 260px;
    height: 44px;
    background: var(--color-athens);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    &::placeholder {
      color: #9a9ca5;
    }

    &--height {
      padding: 10px 0 0 10px;
      height: 66px;
      resize: none;
    }
  }

  &--wide {
    flex-grow: 1;

    .form-field__input {
      width: 100%;
      resize: none;
      padding: 10px 0 0 10px;
    }
  }

  &--contacts {
    width: 100%;

    .form-field__input {
      width: 100%;
    }
  }
}
