.mission {
  background-color: var(--light-color);

  &__about {
    background-color: var(--color-athens);
    padding: 80px 0 100px 0;
  }

  &__list {
    --mission-gap: 94px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--mission-gap) * 2);
  }
  
  &__item {
    position: relative;
    text-align: center;
    padding: 70px 0 0 0;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &:not(:last-child) {
        &::after {
        content: '';
        position: absolute;
        right: calc(-1 * var(--mission-gap));
        top: 0;
        width: 1px;
        height: 100%;
        background-image: url('../img/mission/divider.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
      }

    &--quality {
      background-image: url('../img/mission/quality.svg');
    }

    &--safety {
      background-image: url('../img/mission/safety.svg');
    }

    &--comfort {
      background-image: url('../img/mission/comfort.svg');
    }
  }

  &__subtitle {
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__descr {
    margin: 0;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-storm);
  }
}

.know-form {
  position: relative;
  top: 125px;
  border-radius: 4px;
  padding: 48px 60px;
  box-shadow: var(--main-shadow);
  background-color: var(--light-color);

  &__title {
    margin: 0px 0px 32px 0px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: var(--color-ebony);
  }

  &__content {
    display: flex;
    align-items: flex-end;
  }

  &__field {
    margin: 0px 24px 0px 0px;
  }

  &__btn {
    padding: 11px 29px;
  }
}
