.news-section {
  padding: 80px 0 120px;
  background-color: var(--light-color);

  &__title {
    margin: 0 0 60px 0;
  }

  &__list {
    margin: 0 0 80px 0;
    grid-template-rows: repeat(2, 255px);
  }

  &__item {
    grid-column: 5 span;

    &:first-child {
      grid-column: 7 span;
      grid-row: 2 span;
    }
  }

  &-article {
    overflow: hidden;
    border-radius: 4px;
    height: 100%;
    box-shadow: var(--main-shadow);
    background-color: var(--light-color);

    &__text {
      padding: 20px 30px;
    }

    &--small {
      .article-meta__descr {
        display: none;
      }

      .news-section-article__text {
        padding: 12px 24px;
      }
    }

    &__title {
      margin: 0 0 12px 0;
    }

    &__link {
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: var(--color-ebony);
      transition: color .3s ease-in-out;

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
      }

      &:hover {
        color: var(--color-primary);
      }

      &:active {
        color: var(--color-active);
      }
    }
  }
}

.article-meta {
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-storm);

  &__item {
    position: relative;
    color: inherit;
    transition: color .3s ease-in-out;

    &--comments {
      padding: 0 0 0 23px;
      background-image: url("../img/svg/comments.svg");
      background-position: left center;
      background-size: 15px 13px;
      background-repeat: no-repeat;
    }

    &:not(:last-child) {
      margin: 0 20px 0 0;

      &::after {
        content: "";
        position: absolute;
        right: -13px;
        top: 2px;
        width: 1px;
        height: 11px;
        color: inherit;
        background-color: currentColor;
      }
    }
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
  }
}

a.article-meta__item {
  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &:hover {
    color: var(--color-primary);
  }

  &:active {
    color: var(--color-active);
  } 
}


