.news {
  padding: 120px 0 180px;
  background-color: var(--light-color);

  &__title {
    margin: 0 0 40px 0;
  }

  &__list {
    margin: 0 0 40px 0;
  }

  &__item {
    grid-column: 6 span;
  }

  &-article {
    overflow: hidden;
    border-radius: 4px;
    height: 100%;
    box-shadow: var(--main-shadow);
    background-color: var(--light-color);

    &__text {
      padding: 20px 30px;
    }

    &__title {
      margin: 0 0 12px 0;
    }

    &__link {
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: var(--color-ebony);
    }
  }
}

.news-nav {
  margin: 0 0 60px 0;
  display: flex;
  align-items: center;

  &__item {
    width: calc(100% / 6);
  }

  &__btn {
    @include flex-all-center;

    padding: 10px 10px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-mana);
    text-transform: initial;
    transition: color .3s ease-in-out;

    &--active {
      border-color: currentColor;
      color: var(--color-primary);
    }
  }
}

.article-meta {
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-storm);

  &__item {
    position: relative;
    color: inherit;

    &:not(:last-child) {
      margin: 0 20px 0 0;

      &::after {
        content: "";
        position: absolute;
        right: -13px;
        top: 2px;
        width: 1px;
        height: 11px;
        color: inherit;
        background-color: currentColor;
      }
    }

    &--comments {
      padding: 0 0 0 23px;
      background-image: url("../img/svg/comments.svg");
      background-position: left center;
      background-size: 15px 13px;
      background-repeat: no-repeat;
    }
  }
  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
  }
}

.news-pagination {
  @include flex-all-center;

  &__item {
    &:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }

  &__link {
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
      color: var(--color-gray);
      transition: color .3s ease-in-out;

      svg {
        display: block;
        width: 24px;
        height: 24px;
        fill: currentColor;
        object-fit: cover;
      }

      &--active {
        color: var(--color-primary);
      }
  }
}


