.portfolio-item {
  @include flex-column;

  overflow: hidden;
  border-radius: 4px;
  box-shadow: var(--main-shadow);
  background: var(--light-color);

  &__image {
    margin: 0 0 16px 0;
  }

  &__content {
    @include flex-column-center;
  }

  &__title {
    margin: 0 0 4px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__descr {
    margin: 0 0 24px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-storm);
  }

  &__btn {
    display: none;
    margin: 24px 0 0 0;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 13px 30px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-primary);
  }
}
