.portfolio-section {
  padding: 120px 0;
  background-color: var(--light-color);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    padding: 0 0 10px 0;
    margin: 0;
    max-width: 710px;
  }
}
