.pricing {
  padding: 65px 0;
  background-color: var(--color-athens);

  &__title {
    margin: 0 0 20px 0;
  }
}

.table-wrapper {
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  width: 100%;
  box-shadow: var(--main-shadow);
  background: var(--light-color);
}

.table {
  border-collapse: collapse;
  width: 100%;

  &__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-ebony);
  }

  &__per {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--color-storm  );
  }

  &__th {
    padding: 35px 0 25px 0;

    &:first-child {
      vertical-align: middle;
      padding: 0 0 0 24px;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      text-align: left;
    }
  }

  &__body {
    .table__row {
      &:nth-child(odd) {
        background-color: var(--color-athens);
      }

      &:last-child {
        .table__col {
          padding: 35px 0;
        }
      }
    }
  }

  &__col {
    padding: 17px 0;
    vertical-align: middle;

    &:first-child {
      padding: 0 0 0 24px;
    }

    &:not(:first-child) {
      text-align: center;
    }
  }

  &__check {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-image: url('../img/services-inner/table-check.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__btn {
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 0.5px;
  }
}
