.tariffs {
  &__title {
    @include mobile {
      text-align: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;

    @include middle-tablet {
      gap: 20px;
    }

    @include small-tablet {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  &__item {
    @include flex-column;

    grid-column: 4 span;
    border: 1px solid rgba(20, 16, 36, 0.2);
    border-radius: 20px;
    padding: 40px;

    &--main {
      border: 1px solid var(--dark-color);
      background-color: var(--dark-color);
      transform: scale(1.1);

      .tariffs__subtitle {
        color: var(--light-color);
      }

      .tariffs__price {
        color: var(--light-color);
      }

      .tariffs__descr {
        color: var(--light-color);
      }

      @include middle-desktop {
        transform: scale(1);
      }
    }

    @include small-tablet {
      grid-column: 8 span;
    }
  }

  &__subtitle {
    @include flex-v-center;

    margin: 0 0 60px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    text-align: center;
    color: var(--dark-color);

    &::before {
      @include pseudo;

      margin: 0 10px 0 0;
      width: 20px;
      height: 3px;
      background-color: currentColor;
    }

    &::after {
      @include pseudo;

      margin: 0 0 0 10px;
      width: 20px;
      height: 3px;
      background-color: currentColor;
    }

    @include middle-tablet {
      margin: 0 0 30px 0;
    }
  }

  &__price {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 50px;
    line-height: 160%;
    text-align: center;
    color: var(--dark-color);

    @include middle-desktop {
      font-size: 40px;
      margin: 0 0 10px 0;
    }
  }

  &__descr {
    margin-bottom: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: var(--dark-color);

    @include small-tablet {
      font-size: 16px;
    }
  }

  &__btn {
    margin: 60px 0 0 0;
    min-width: 100%;

    @include middle-tablet {
      margin: 30px 0 0 0;
      padding: 10px 20px;
      font-size: 16px;
    }
  }
}
